{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "proseWrap": "never",
  "singleQuote": true,
  "semi": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "printWidth": 80,
      "files": ["*.js"],
      "options": {
        "parser": "babel",
        "braceStyle": "collapse-preserve-inline"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "trailingComma": "none",
        "printWidth": 80
      }
    },
    {
      "files": ["*.vue"],
      "options": {
        "parser": "vue",
        "vueIndentScriptAndStyle": true
      }
    }
  ]
}
